<ion-header page-south-america-header class="page-south-america-header">
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>South America</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="showPopover($event)"><ion-icon name="more"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content page-south-america-content class="page-south-america-content" >
<ion-card>
	<ion-card-content>This page is under construction. Please come back soon!</ion-card-content>
</ion-card>

</ion-content>
