<ion-header page-asiavtex-detail-header class="page-asiavtex-detail-header">
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/asiavtex"></ion-back-button>
		</ion-buttons>
		<ion-title>Asiavtex Detail</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="showPopover($event)"><ion-icon name="more"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content page-asiavtex-detail-content class="page-asiavtex-detail-content" >
			
	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
			
	<ion-card *ngIf="dataPost">
		<img *ngIf="dataPost['_embedded'] && dataPost['_embedded']['wp:featuredmedia'] && dataPost['_embedded']['wp:featuredmedia'][0] && dataPost['_embedded']['wp:featuredmedia'][0]['media_details']&& dataPost['_embedded']['wp:featuredmedia'][0]['media_details']['sizes']['full']" src="{{ dataPost['_embedded']['wp:featuredmedia'][0]['media_details']['sizes']['full'].source_url }}" />
		
		<ion-card-header *ngIf="dataPost.title">
			<ion-card-subtitle>{{ dataPost.date | date:'fullDate' }}</ion-card-subtitle>
			<ion-card-title [innerHTML]="dataPost.title.rendered"></ion-card-title>
		</ion-card-header>
		
		<ion-item *ngIf="dataPost['_embedded'] && dataPost['_embedded'].author && dataPost['_embedded'].author[0]">
			<ion-icon name="person" slot="start"></ion-icon>
			<ion-label>{{ dataPost['_embedded'].author[0].name }}</ion-label>
			<ion-button *ngIf="dataPost['_embedded'].author[0].link" fill="outline" appBrowser [url]="[dataPost['_embedded'].author[0].link]"><ion-icon name="globe"></ion-icon></ion-button>
		</ion-item>
		
		
		<ion-card-content *ngIf="dataPost.content">
			<div [innerHtml]="dataPost.content.rendered"></div>
		</ion-card-content>
		
		<ion-row *ngIf="dataPost.link">
			<ion-col>
				<ion-button expand="block" size="small" fill="outline" color="primary" facebookApp [url]="[dataPost.link]"><ion-icon slot="icon-only" name="logo-facebook"></ion-icon></ion-button>
			</ion-col>
			<ion-col *ngIf="dataPost.title.rendered">
				<ion-button expand="block" size="small" fill="outline" color="secondary" twitterApp message="{{ dataPost.title.rendered | stripTags }} - {{ dataPost.link }}"><ion-icon slot="icon-only" name="logo-twitter"></ion-icon></ion-button>
			</ion-col>
			<ion-col *ngIf="dataPost.title.rendered">
				<ion-button expand="block" size="small" fill="outline" color="success" whatsappApp message="{{ dataPost.title.rendered | stripTags }} - {{ dataPost.link }}"><ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon></ion-button>
			</ion-col>
			<ion-col *ngIf="dataPost.title.rendered">
				<ion-button expand="block" size="small" fill="outline" color="danger" mailApp emailAddress="change@email.com" emailSubject="hi, read this article" emailMessage="{{ dataPost.title.rendered | stripTags }} - {{ dataPost.link }}"><ion-icon slot="icon-only" name="mail-open"></ion-icon></ion-button>
			</ion-col>
		</ion-row>
	</ion-card>

</ion-content>
