<ion-header page-faqs-header class="page-faqs-header">
	<ion-toolbar color="danger">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>FAQs</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="showPopover($event)"><ion-icon name="more"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content page-faqs-content class="page-faqs-content" >
<ion-card>
	<ion-card-content>
		<p>This page is under construction. Please come back soon!</p>
	</ion-card-content>
</ion-card>

</ion-content>
