[page-asia-content]{
	--ion-background-color: #ffffff;
	--background: url("../../../assets/images/background/background.jpg") no-repeat center center / cover;
}

	ion-card {
		--background: #fff;
		opacity:0.9;
	}
	
	p,li{
		margin-top: 0;
		margin-bottom: 12px;
		color: #8e9093;
		font-size: 1.4rem;
	}
	blockquote {
		border-left: 5px solid #ddd;
		margin-left: 0;
		margin-right: 0;
		padding-left: 1.4em;
	}
	img {
		height: auto;
	}
	ion-item h2 {
		font-weight: 500 !important;
	}
	ion-item h3 {
		color: #777;
	}
img.flag {
    height: auto;
}

ion-card-title.ios.hydrated {
    font-size: 12px;
}

ion-card-header.ios.hydrated {
    padding: 20px 10px;
}
.nomargin {
  margin: 0px;
  height: auto;
}

