<ion-header page-asia-header class="page-asia-header">
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Asia</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="showPopover($event)"><ion-icon name="more"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
	<ion-toolbar app-searchbar color="primary">
		<ion-searchbar  [(ngModel)]="filterQuery" (ionInput)="filterItems($event)" ></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content page-asia-content class="page-asia-content" padding scroll="false">
	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	
	<ion-card *ngIf="dataPosts.length == 0">
		<ion-card-content>
			There are no items
		</ion-card-content>
	</ion-card>
	
<ion-grid>
 <ion-row no-padding>
  <ion-col size="6" *ngFor="let post of dataPosts">
	<ion-card class="nomargin" [routerDirection]="'forward'" [routerLink]="['/','asia-detail',post.id]">
      <img class="flag" src="{{post['wpcf-country_flag']}}" />
      <ion-card-header>
		<ion-card-title [innerHTML]="post.title.rendered"></ion-card-title>
	  </ion-card-header>
	</ion-card>
</ion-col>
</ion-row>
</ion-grid>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
	
</ion-content>
