<ion-header page-visathingexpress-header class="page-visathingexpress-header">
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Have embassy in Bangladesh</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="showPopover($event)"><ion-icon name="more"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content page-visathingexpress-content class="page-visathingexpress-content" padding scroll="false">
<ion-card>
	<ion-card-content>This page is under construction. Please come back soon!</ion-card-content>
</ion-card>
					<!-- Tab Bar Button -->
	<ion-tabs>
		<ion-tab-bar slot="bottom" color="primary">
			<ion-tab-button  [routerDirection]="'root'" [routerLink]="['/visathing']">
				<ion-label color="light">Do not have embassy <br>in Bangladesh</ion-label>
				<ion-icon color="light" name="logo-buffer"></ion-icon>
			</ion-tab-button>
			<ion-tab-button disabled="true"  [routerDirection]="'root'" [routerLink]="['/visathingexpress']">
				<ion-label color="light">Have embassy<br> in Bangladesh</ion-label>
				<ion-icon color="light" name="logo-buffer"></ion-icon>
			</ion-tab-button>
		</ion-tab-bar>
	</ion-tabs>

</ion-content>
