<ion-header page-africa-header class="page-africa-header">
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Africa</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="showPopover($event)"><ion-icon name="more"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content page-africa-content class="page-africa-content" padding scroll="false" fullscreen>
<ion-card>
	<ion-card-content>This page is under construction. Please come back soon!</ion-card-content>
</ion-card>

		<!-- Tab Bar Button -->
	<ion-tabs>
		<ion-tab-bar slot="bottom" color="light">
			<ion-tab-button  [routerDirection]="'forward'" [routerLink]="['/asia']">
				<ion-label color="primary">asia</ion-label>
				<ion-icon color="primary" name="logo-buffer"></ion-icon>
			</ion-tab-button>
			<ion-tab-button  class="tab-selected"  [routerDirection]="'forward'" [routerLink]="['/africa']">
				<ion-label color="primary">africa</ion-label>
				<ion-icon color="primary" name="logo-buffer"></ion-icon>
			</ion-tab-button>
		</ion-tab-bar>
	</ion-tabs>

</ion-content>
