<ion-header page-asiavtex-header class="page-asiavtex-header">
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Asiavtex</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="showPopover($event)"><ion-icon name="more"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
	<ion-toolbar app-searchbar color="primary">
		<ion-searchbar  [(ngModel)]="filterQuery" (ionInput)="filterItems($event)" ></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content page-asiavtex-content class="page-asiavtex-content" >
	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	
	<ion-card *ngIf="dataPosts.length == 0">
		<ion-card-content>
			There are no items
		</ion-card-content>
	</ion-card>
	
	
	<ion-card *ngFor="let post of dataPosts">
	
		<img *ngIf="post['_embedded'] && post['_embedded']['wp:featuredmedia'] && post['_embedded']['wp:featuredmedia'][0] && post['_embedded']['wp:featuredmedia'][0]['media_details']&& post['_embedded']['wp:featuredmedia'][0]['media_details']['sizes']['full']" src="{{ post['_embedded']['wp:featuredmedia'][0]['media_details']['sizes']['full'].source_url }}" />
		<ion-card-header>
			<ion-card-subtitle>{{ post.date | date:'fullDate' }}</ion-card-subtitle>
			<ion-card-title [innerHTML]="post.title.rendered"></ion-card-title>
		</ion-card-header>
		<ion-card-content>
			{{ post.content.rendered | stripTags | readMore:100}}
		</ion-card-content>
		
		<ion-row no-padding>
			<ion-col text-left>
			</ion-col>
			<ion-col class="ion-text-center">
					<ion-button fill="clear" size="small" color="danger" [routerDirection]="'forward'" [routerLink]="['/','asiavtex-detail',post.id]">
						<ion-icon slot="start" name="arrow-round-forward"></ion-icon>
						Readmore
					</ion-button>
			</ion-col>
		</ion-row>
		
	</ion-card>
	
	<ion-infinite-scroll (ionInfinite)="loadMore($event)">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
	

</ion-content>
