[page-home-content]{
}

	ion-slide > ion-toolbar{--background: transparent;}
	.swiper-slide {display: block;}
	ion-slide > h2 {margin-top: 2.8rem;}
	ion-slide > img {max-height: 50%;max-width: 60%;margin: 16px 0;}

