<ion-content page-home-content class="page-home-content" padding scroll="false" fullscreen>
	<ion-slides pager="false">
		<ion-slide *ngFor="let item of slideItems; last as isLast">
			<ion-toolbar>
				<ion-buttons slot="end" *ngIf="!isLast">
					<ion-button color="primary" [routerDirection]="'root'" [routerLink]="['/about-us']" >Skip</ion-button>
				</ion-buttons>
				<ion-buttons *ngIf="isLast">
				</ion-buttons>
			</ion-toolbar>
			<img [src]="item.image" class="slide-image"/>
			<h2 class="slide-title" [innerHTML]="item.title"></h2>
			<p *ngIf="!isLast" [innerHTML]="item.description"></p>
			<ion-button *ngIf="isLast" size="large" fill="clear" icon="end" color="primary" [routerDirection]="'root'" [routerLink]="['/about-us']">
				Continue <ion-icon name="arrow-forward"></ion-icon>
			</ion-button>
		</ion-slide>
	</ion-slides>

</ion-content>
