<ion-header page-visathing-header class="page-visathing-header">
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Do not have embassy in Bangladesh</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="showPopover($event)"><ion-icon name="more"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content page-visathing-content class="page-visathing-content" padding scroll="false">



<ion-card>
	<ion-card-content>This page is under construction. Please come back soon!
  
  	<img src="./assets/images/landscape/image-1.jpg" alt=""/>
	<ion-card-header>
		<h1><strong>VISAThing</strong> <small>v01.01.01</small></h1>
	</ion-card-header>
	<ion-card-content>
		<p>Your Visa Partner</p>
		<p>by <strong>nougheez</strong></p>
	</ion-card-content>
  </ion-card-content>
</ion-card>
												<!-- Tab Bar Button -->
	<ion-tabs>
		<ion-tab-bar slot="bottom" color="primary">
			<ion-tab-button disabled="true"  [routerDirection]="'root'" [routerLink]="['/visathing']">
				<ion-label color="light">Do not have embassy <br>in Bangladesh</ion-label>
				<ion-icon color="light" name="logo-buffer"></ion-icon>
			</ion-tab-button>
			<ion-tab-button  [routerDirection]="'root'" [routerLink]="['/visathingexpress']">
				<ion-label color="light">Have embassy <br> in Bangladesh</ion-label>
				<ion-icon color="light" name="logo-buffer"></ion-icon>
			</ion-tab-button>
		</ion-tab-bar>
	</ion-tabs>

</ion-content>
