[page-visathing-content]{
}

:host {

    --background: var(--ion-tab-bar-background,var(--ion-background-color,#fff));
    --background-focused: var(--ion-tab-bar-background-focused,#e0e0e0);
    --border: 0.55px solid var(--ion-tab-bar-border-color,var(--ion-border-color,var(--ion-color-step-150,rgba(0,0,0,0.2))));
    --color: var(--ion-tab-bar-color,var(--ion-color-step-450,#8c8c8c));
    --color-selected: var(--ion-tab-bar-color-activated,var(--ion-color-primary,#3880ff));
    height: 50px;

}
