[page-asia-detail-content]{
	--background: url("../../../assets/images/background/bg1.jpg") no-repeat center center / cover;
}

	ion-card {
		--background: #fff;
		opacity:0.9;
	}

.contrycontent h3 {
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.contrycontent p {
  
    text-align: justify;
    word-break: keep-all;
}
.flag {float: left;
    margin-right: 10px;
    padding-top: 5px;
    height: 30px !important;
    width: 45px !important;
}

.left-headingwhite {
    margin-bottom: 20px;
}

ion-card-header.md.hydrated {
    background: #ddd;
    margin-bottom: 20px;
}


ion-card-title {    font-size: 18px !important;
    line-height: 20px;
    width: 70%;
    float: left;
    display: contents;}
