<ion-header page-asia-detail-header class="page-asia-detail-header">
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/asia"></ion-back-button>
		</ion-buttons>
		<ion-title>Asia Detail</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="showPopover($event)"><ion-icon name="more"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content page-asia-detail-content class="page-asia-detail-content" >
			
	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
			
	<ion-card *ngIf="dataPost">
         <ion-card-header *ngIf="dataPost.title">
		
           <div class="left-headingwhite">           <!--<ion-card-subtitle>{{ dataPost.date | date:'fullDate' }}</ion-card-subtitle> -->
          <img class="flag" src="{{dataPost['wpcf-country_flag']}}" />
          <ion-card-title [innerHTML]="dataPost.title.rendered"></ion-card-title>
	
           </div> 
             </ion-card-header>

      		<div class="country_detail_wrapper ">
				<div class="country_detail_title">
					<span>Capital City<span class="colon">:</span></span>
				</div>			
				<div class="country_detail_title_content">
					<span innerHtml="{{dataPost['wpcf-capital-city']}}"></span>				
				</div>
			</div>
    	
		
		<ion-card-content >
		<div class="contrycontent" *ngIf="dataPost['wpcf-basic-info']">
         <h3>Basic Information</h3>
          <p innerHtml="{{dataPost['wpcf-basic-info']}}" ></p>
        </div> 
         <div *ngIf="dataPost['wpcf-basic-info']">
             <h3>Basic Information</h3>
           <p innerHtml="{{dataPost['wpcf-basic-info']}}" ></p>
        </div> 
          
      </ion-card-content>
		
		<ion-row *ngIf="dataPost.link">
			<ion-col>
				<ion-button expand="block" size="small" fill="outline" color="primary" facebookApp [url]="[dataPost.link]"><ion-icon slot="icon-only" name="logo-facebook"></ion-icon></ion-button>
			</ion-col>
			<ion-col *ngIf="dataPost.title.rendered">
				<ion-button expand="block" size="small" fill="outline" color="secondary" twitterApp message="{{ dataPost.title.rendered | stripTags }} - {{ dataPost.link }}"><ion-icon slot="icon-only" name="logo-twitter"></ion-icon></ion-button>
			</ion-col>
			<ion-col *ngIf="dataPost.title.rendered">
				<ion-button expand="block" size="small" fill="outline" color="success" whatsappApp message="{{ dataPost.title.rendered | stripTags }} - {{ dataPost.link }}"><ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon></ion-button>
			</ion-col>
			<ion-col *ngIf="dataPost.title.rendered">
				<ion-button expand="block" size="small" fill="outline" color="danger" mailApp emailAddress="change@email.com" emailSubject="hi, read this article" emailMessage="{{ dataPost.title.rendered | stripTags }} - {{ dataPost.link }}"><ion-icon slot="icon-only" name="mail-open"></ion-icon></ion-button>
			</ion-col>
		</ion-row>
	</ion-card>

</ion-content>
