// http://ionicframework.com/docs/theming/

@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';



/** SIDE MENUS **/

[app-sidemenu-header]{
	background-image: url('assets/images/background/expanded-menu.png');
	height: 270px;
	background-size: cover !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	h1{
		color: white;
		margin-top: 2rem;
		font-size: 3rem;
	}
	span{
		color: white;
	}
}

[app-sidemenu-content]{
	--ion-item-background: transparent !important;
	ion-list{
		padding-top: 0;
		padding-bottom: 0;
	}
}

